**
!Dockerfile
!requirements.txt
!backend/
!backend/hokiecare/
!backend/hokiecare/*.py
!frontend/
!frontend/package.json
!frontend/package-lock.json
!frontend/index.html
!frontend/tsconfig.json
!frontend/vite.config.ts
!frontend/src/
!frontend/src/**
